<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @key.descripcion %>
</p>

<p>
  <b>Numero:</b>
  <%= @key.numero %>
</p>

<p>
   


<%= link_to 'Editar', edit_key_path(@key) %> |
<%= link_to 'Atrás', keys_path %>
