<%= form_for(@prestamo) do |f| %>
  <% if @prestamo.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede guardar:</h2>

      <ul>
      <% @prestamo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_actual %>
    <%= current_user.email%>
  <br />
  </div>
  
  
  <div class="field">
    <%= f.label :devuelto %><br />
    <%= f.check_box :devuelto %>

  </div>
  <div class="actions">

    <%= image_submit_tag("aceptar.png")%>
  </div>
<% end %>
