<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><span style="color: red;">No se puede guardar:</span></h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :documento %><br />
    <%= f.number_field :documento %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.number_field :telefono %>(Ingrese el número sin 0 y sin el 15)
  </div>
  <div class="actions">

    <%= image_submit_tag("aceptar.png")%>
  </div>
<% end %>
